@tailwind base;
@tailwind components;
@tailwind utilities;

*::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

section {
    height: 100vh;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
}

*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
}
:root {
    --primary: rgb(21, 21, 22);
    --secondary: rgb(42, 44, 46);
}